// Buttons
@mixin btnLink($color, $hoverColor) {
  display: inline-block;
  margin-top: 1rem;
  color: $color;
  &:hover {
    color: $hoverColor;
  }
}

// Lists
// Remove default settings for UL/OL
@mixin default-list($direction) {
  display: flex;
  flex-direction: $direction;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Buttons
@mixin btn($color, $bgColor, $hoverBgColor) {
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 15px 32px;
  font-size: 1rem;
  border-radius: $border-radius;
  background-color: $bgColor;
  color: $color;

  &:hover {
    background-color: $hoverBgColor;
  }
}
