@import "mixins";

// Navbar
.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: $darker;
  margin: 0 auto;
  align-items: center;
}

.navbar-brand {
  color: $white;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.5rem;
}

.navbar-search {
  position: relative;
  margin: auto 0;

  input[type="search"] {
    padding: 6px {
      left: 50px;
    }
    border: 2px solid $darker;
    border-radius: $border-radius;
    width: 15rem;

    &:focus {
      border: 2px solid $blue;
    }
  }

  button {
    padding: 3.5px 10px;
    background-color: $blue;
    border: none;
    border-radius: 2px; //navbar sarch border-radius is 3px, this value make it look the same
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
    position: absolute;
    left: 1.5px;
    top: 1.2px;

    svg {
      fill: $white;
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}

// Media queries
@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
