// Variables
//
//
// Color system
$white: #fff !default;
$blue: #29a9f3 !default;
$lightGray: #787a8a !default;
$gray: #393344 !default;
$dark: #1c2127 !default;
$darker: #14181d !default;

// Buttons
$btnPrimary: #1d5bcf !default;
$btnPrimaryHover: #1d3ecf !default;

// Fonts
$font-stack: "Roboto Slab", sans-serif;

//Border-radius
$border-radius: 3px;

// Content width
$default-width: 65%;
$header-width: 70%;
